<div class="main top-main">

    <aside>

    <div class="top-lists">    
        <h3>MENU</h3>
  
        <ul>
            <li><a href="">About us</a></li>
            <li><a href="">LIVE</a></li>
            <li><a href="">Contents</a></li>
            <li><a href="">activities</a></li>
            <li><a href="">Login</a></li>
        </ul>
        
      </div>
  
    </aside>
    
</div>

